/* Import Fonts & All CSS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  line-height: 1.4;
  font-weight: 600; }

a, a:active, a:focus, a:hover {
  color: #333333;
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: none; }

li {
  list-style: none; }

p {
  line-height: 1.9;
  color: #707070;
  font-size: 14px;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

.welcome-text .left-side a {
  color: #00aeef;
}
.alert-section{
  background: transparent;
  width:70%;
  margin: auto;
}

.content-section {
  background: #ffffff;
  padding: 20px 40px;
  border: 1px solid #dddddd;
  width:70%;
  height: 100%;
  margin-top: 5px;
  margin: auto;
  border-radius: 3px;
  margin-bottom: 50px;}
  .content-section .author { 
    color: #00aeef;
    font-size: 13px; }
  .content-section .article-title { 
    color: #444444;
    font-weight: 500;
    font-size: 32px; }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .content-section {
        padding: 20px 40px;
        width: 80%;
      }
      .content-section .author {
        font-size: 15px;
      }
      .content-section .article-title {
        font-size: 25px;
      }
      .content-section .article-content {
         font-size: 14px;
      }
      .content-section .media-body .account-heading{
        font-size: 28px;
        }
      .content-section .email {
        font-size: 17px;
        }
      .content-section .profile {
        font-size: 25px;
        } }

    @media only screen and (max-width: 767px) {
      .content-section {
        padding: 10px 15px;
        width: 100%;
      }
      .content-section .author {
        font-size: 12px;
      }
      .content-section .article-title {
        font-size: 20px;
      }
      .content-section .article-content {
         font-size: 12px;
      }
      .content-section .account-heading {
        font-size: 22px;
        }
      .content-section .email {
        font-size: 12px;
        }
      .content-section .profile {
        font-size: 19px;
        } }

.externals .article-img {
  height: 95px;
  width: 95px;
  border: 1px solid #cccccc;
  margin-right: 12px;}


.bg-overlay {
  position: relative;
  z-index: 1; }
  .bg-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); }

.bg-gradient-overlay {
  position: relative;
  z-index: 1; }
  .bg-gradient-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #2c455d;
    background: -webkit-linear-gradient(to right, #2c455d, #00012c);
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85; }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.jarallax {
  position: relative;
  z-index: 0; }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

#success_fail_info {
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center; }

.mfp-iframe-holder .mfp-close {
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #00aeef;
  text-align: center;
  right: 0;
  padding-right: 0;
  line-height: 32px; }

.mt-15 {
  margin-top: 15px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-70 {
  margin-top: 70px; }

.mt-100 {
  margin-top: 100px; }

.mt-150 {
  margin-top: 150px; }

.mr-15 {
  margin-right: 15px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mr-100 {
  margin-right: 100px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-100 {
  margin-bottom: 100px; }

.ml-15 {
  margin-left: 15px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.ml-100 {
  margin-left: 100px; }

.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px; }

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0; }

.section-padding-100-50 {
  padding-top: 100px;
  padding-bottom: 50px; }

.section-padding-0-50 {
  padding-top: 0;
  padding-bottom: 50px; }

.section-padding-50-0 {
  padding-top: 50px;
  padding-bottom: 0; }

.height-400 {
  height: 400px; }

.height-600 {
  height: 600px; }

.height-700 {
  height: 700px; }

.height-800 {
  height: 800px; }

.height-900 {
  height: 900px; }

.height-1000 {
  height: 1000px; }

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #ffffff; }
  #preloader .preload-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    z-index: 100; }
  #preloader #dento-load {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #00aeef;
    -webkit-animation: dentorotate 2400ms linear infinite;
    animation: dentorotate 2400ms linear infinite;
    z-index: 999; }
    #preloader #dento-load:before {
      content: "";
      position: absolute;
      top: 7.5px;
      left: 7.5px;
      right: 7.5px;
      bottom: 7.5px;
      border-radius: 50%;
      border: 3px;
      border-style: solid;
      border-color: transparent;
      border-top-color: #00aeef;
      -webkit-animation: dentorotate 2700ms linear infinite;
      animation: dentorotate 2700ms linear infinite; }
    #preloader #dento-load:after {
      content: "";
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      border-radius: 50%;
      border: 3px;
      border-style: solid;
      border-color: transparent;
      border-top-color: #00aeef;
      -webkit-animation: dentorotate 1800ms linear infinite;
      animation: dentorotate 1800ms linear infinite; }

@-webkit-keyframes dentorotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes dentorotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .section-heading h2 {
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 20px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading h2 {
        font-size: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h2 {
        font-size: 30px;
        margin-bottom: 15px; } }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 24px;
        margin-bottom: 15px; } }
  .section-heading .line {
    width: 70px;
    height: 4px;
    background-color: #00aeef; }
  .section-heading.text-center .line {
    margin: 0 auto; }
  .section-heading.white h2 {
    color: #ffffff; }

#scrollUp {
  bottom: 50px;
  font-size: 22px;
  line-height: 42px;
  right: 0;
  width: 40px;
  background-color: #00aeef;
  color: #ffffff;
  text-align: center;
  height: 40px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 2px 0 0 2px; }
  #scrollUp:focus, #scrollUp:hover {
    background-color: #000; }

.dento-btn {
  position: relative;
  z-index: 1;
  min-width: 130px;
  height: 46px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-top: 25px;
  padding: 0 5px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
  background-color: #00aeef;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  border: 2px solid #00aeef; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .dento-btn {
      min-width: 120px;
      height: 46px;
      margin-top: 15px;
      font-size: 13px;
       } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
       .dento-btn {
          min-width: 110px;
          font-size: 12px;
       } }

     @media only screen and (min-width: 395px) and (max-width: 575px) {
      .dento-btn {
        min-width: 100px;
        margin-top: 10px;
        height: 46px;
        font-size: 11px;
       } }

    @media only screen and (max-width: 394px) {
      .dento-btn {
        min-width: 70px;
        font-size: 9px;
        margin-top: 5px;
        line-height: 35px;
        height: 40px;
       } }

  .dento-btn.active, .dento-btn:focus {
    box-shadow: none;
    background-color: transparent;
    color: #00aeef;
    border-radius: 25px;  }
  .dento-btn:hover {
    background-color: #00aeef;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 25px;
  }

.dento-btn2 {
  position: relative;
  z-index: 1;
  min-width: 170px;
  height: 46px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
  background-color: #00aeef;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  border: 2px solid #00aeef; }
  @media only screen and (max-width: 767px) {
    .dento-btn2 {
      min-width: 120px;
      padding: 0 10px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .dento-btn2 {
      min-width: 170px;
      padding: 0 20px; } }
  .dento-btn2:hover {
    box-shadow: none;
    background-color: #ffffff;
    color: #00aeef;
  }

.header-area {
  position: relative;
  z-index: 599;
  width: 100%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .header-area .main-header-area.sticky {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
    border-bottom: none;
    left: 0;
    z-index: 600; }

.top-header-area {
  position: relative;
  z-index: 1;
  height: 40px;
  background-color: #f4f4f4; }
  .top-header-area .top-header-content a {
    display: inline-block;
    font-size: 12px;
    color: #707070; }
    .top-header-area .top-header-content a i {
      color: #00aeef;
      margin-right: 5px; }
    .top-header-area .top-header-content a:last-child {
      margin-left: 30px; }
      @media only screen and (max-width: 767px) {
        .top-header-area .top-header-content a:last-child {
          margin-left: 15px; } }
    @media only screen and (max-width: 767px) {
      .top-header-area .top-header-content a span {
        display: none; } }
  .top-header-area .top-header-social-info a {
    color: #707070;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px; }
    .top-header-area .top-header-social-info a:focus, .top-header-area .top-header-social-info a:hover {
      color: #00aeef; }

.classy-nav-container {
  background-color: transparent; }
  .classy-nav-container .classy-navbar {
    height: 90px;
    padding: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .classy-nav-container .classy-navbar {
        height: 80px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar .nav-brand {
        max-width: 90px;
        margin-right: 15px; } }
    .classy-nav-container .classy-navbar .classynav ul li a {
      padding: 0 15px;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase; }
      .classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:hover {
        color: #00aeef; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          padding: 0 10px;
          font-size: 13px; } }
    .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a {
      font-size: 12px;
      text-transform: capitalize; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .classy-nav-container .classy-navbar-toggler {
      -webkit-box-ordinal-group: 200;
      -ms-flex-order: 199;
      order: 199; } }
  @media only screen and (max-width: 767px) {
    .classy-nav-container .classy-navbar-toggler {
      -webkit-box-ordinal-group: 200;
      -ms-flex-order: 199;
      order: 199;
      margin-left: 15px; } }

.welcome-welcome-slide {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 800px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .welcome-welcome-slide {
      height: 600px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .welcome-welcome-slide {
      height: 600px; } }
  @media only screen and (max-width: 767px) {
    .welcome-welcome-slide {
      height: 600px; } }

.welcome-text {
  position: relative;
  width: 100%;
  z-index: 1; }
  .welcome-text .right-side .h2 {
    font-size: 75px;
    color: #ffffff;
    margin-bottom: 30px;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .welcome-text .right-side .h2 {
        font-size: 62px;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 10px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .welcome-text .right-side .h2 {
        font-size: 60px;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 10px; } }
    @media only screen and (min-width: 395px) and (max-width: 767px) {
      .welcome-text .right-side .h2 {
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 3px; } }

    @media only screen and (max-width: 394px) {
      .welcome-text .right-side .h2 {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 1px; 
      } }

  .welcome-text .left-side {
    width: 100%;
  }
  .welcome-text .left-side h3{
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .welcome-text .left-side h3 {
        font-size: 25px;
        margin-bottom: 10px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .welcome-text .left-side h3{
        font-size: 20px;
        margin-bottom: 10px; } }
    @media only screen and (max-width: 767px) {
      .welcome-text .left-side h3 {
        font-size: 20px; 
        margin-bottom: 5px;
      } }

  .welcome-text .left-side .line {
    width: 70px;
    height: 4px;
    background-color: #00aeef; 
    margin: auto;
    margin-top: 2px;
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .welcome-text .left-side .line {
        width: 60px;
        margin-bottom: 15px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .welcome-text .left-side .line{
        width: 55px;
        margin-bottom: 10px; } }
    @media only screen and (max-width: 767px) {
      .welcome-text .left-side .line {
        height: 3px;
        width: 45px; 
        margin-bottom: 10px;
      } }

  .welcome-text .left-side h4{
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .welcome-text .left-side h4 {
        font-size: 20px;
        margin-bottom: 10px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .welcome-text .left-side h4 {
        font-size: 18px;
        margin-bottom: 5px; } }
    @media only screen and (min-width: 395px) and (max-width: 767px) {
      .welcome-text .left-side h4 {
        font-size: 15px;
        margin-bottom: 2px; } }
    @media only screen and (max-width: 394px) {
      .welcome-text .left-side h4 {
        font-size: 13px; 
        margin-bottom: 0px;
      } }


  .welcome-text .left-side p {
    font-size: 18px;
    color: #cccccc;
    /*margin-bottom: 40px; */
  }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .welcome-text .left-side p {
        font-size: 15px;
        /*margin-bottom: 30px; */
      } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .welcome-text .left-side p {
        font-size: 13px;
        /*margin-bottom: 30px;*/
      } }
    @media only screen and (max-width: 767px) {
      .welcome-text .left-side p {
        font-size: 12px; } }

  .welcome-text .right-side p {
    font-size: 37px;
    color: #ffffff;
    margin-bottom: 40px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .welcome-text .right-side p {
        font-size: 34px;
        margin-bottom: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .welcome-text .right-side p {
        font-size: 30px;
        margin-bottom: 30px; } }
    @media only screen and (min-width: 395px) and (max-width: 767px) {
      .welcome-text .right-side p {
        font-size: 18px;
        margin-bottom: 2px; } }
    @media only screen and (max-width: 394px) {
      .welcome-text .right-side p {
        font-size: 12px;
        margin-bottom: 0px;
      } }



.testimonials-area {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .testimonials-area .owl-next,
  .testimonials-area .owl-prev {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: transparent;
    top: 50%;
    left: -100px;
    margin-top: -20px;
    color: #b7b7b7;
    font-size: 50px;
    line-height: 40px;
    opacity: 0;
    visibility: hidden; }
    .testimonials-area .owl-next:focus, .testimonials-area .owl-next:hover,
    .testimonials-area .owl-prev:focus,
    .testimonials-area .owl-prev:hover {
      color: #ffffff; }
  .testimonials-area .owl-next {
    left: auto;
    right: -100px; }
  .testimonials-area:focus .owl-prev, .testimonials-area:hover .owl-prev {
    left: 0;
    opacity: 1;
    visibility: visible; }
  .testimonials-area:focus .owl-next, .testimonials-area:hover .owl-next {
    left: auto;
    right: 0;
    opacity: 1;
    visibility: visible; }

.single-testimonial-slide {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .single-testimonial-slide {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .single-testimonial-slide .testimonial-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    max-width: 180px;
    width: 180px;
    margin-right: 30px;
    border-radius: 50%; }
    .single-testimonial-slide .testimonial-thumb img {
      border-radius: 50%; }
    @media only screen and (max-width: 767px) {
      .single-testimonial-slide .testimonial-thumb {
        margin-bottom: 50px; } }
  .single-testimonial-slide .testimonial-content {
    position: relative;
    z-index: 1; }
    .single-testimonial-slide .testimonial-content h5 {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.8;
      font-style: italic;
      margin-bottom: 15px;
      color: #555555; }
    .single-testimonial-slide .testimonial-content h6 {
      font-weight: 500;
      color: #ffffff; }
    .single-testimonial-slide .testimonial-content p {
      margin-bottom: 0;
      color: #555555; }

.dento-border {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: #f4f4f4; }

.dento-cta-area {
  position: relative;
  margin-top: 60px;
  z-index: 1; }

.single-cta {
  position: relative;
  z-index: 1; }
  .single-cta i {
    font-size: 50px;
    color: #00aeef;
    margin-bottom: 15px;
    display: block; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-cta i {
        font-size: 40px; } }
  .single-cta h2 {
    font-size: 38px;
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-cta h2 {
        font-size: 30px; } }
    @media only screen and (max-width: 767px) {
      .single-cta h2 {
        font-size: 30px; } }
  .single-cta h5 {
    margin-bottom: 0;
    font-size: 18px; 
    color: #ffffff;
  }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-cta h5 {
        font-size: 16px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-cta h5 {
        font-size: 16px; } }
    @media only screen and (max-width: 767px) {
      .single-cta h5 {
        font-size: 16px; } }

.breadcumb-area {
  position: relative;
  z-index: 1;
  height: 200px; }
  @media only screen and (max-width: 767px) {
    .breadcumb-area {
      height: 130px; } }
  .breadcumb-area .title {
    font-size: 40px;
    margin-bottom: 0;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .breadcumb-area .title {
        font-size: 36px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .breadcumb-area .title {
        font-size: 30px; } }
    @media only screen and (max-width: 767px) {
      .breadcumb-area .title {
        font-size: 24px; } }

.breadcumb--con .breadcrumb {
  padding: 30px 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0; }
  .breadcumb--con .breadcrumb .breadcrumb-item,
  .breadcumb--con .breadcrumb .breadcrumb-item > a,
  .breadcumb--con .breadcrumb .breadcrumb-item.active {
    font-size: 14px;
    text-transform: capitalize;
    color: #333333;
    font-weight: 500; }
    .breadcumb--con .breadcrumb .breadcrumb-item:focus, .breadcumb--con .breadcrumb .breadcrumb-item:hover,
    .breadcumb--con .breadcrumb .breadcrumb-item > a:focus,
    .breadcumb--con .breadcrumb .breadcrumb-item > a:hover,
    .breadcumb--con .breadcrumb .breadcrumb-item.active:focus,
    .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
      color: #00aeef; }
  .breadcumb--con .breadcrumb .breadcrumb-item.active {
    color: #707070; }
    .breadcumb--con .breadcrumb .breadcrumb-item.active:focus, .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
      color: #707070; }
  .breadcumb--con .breadcrumb .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .breadcumb--con .breadcrumb .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .breadcumb--con .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "\f105";
    font-family: 'FontAwesome'; }


.single-widget-area {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .single-widget-area .widget-title {
    margin-bottom: 30px;
    font-size: 22px; }

.search-widget form {
  width: 100%;
  position: relative;
  z-index: 1; }
  .search-widget form .form-control {
    width: 100%;
    height: 46px;
    font-size: 13px;
    padding: 0 20px; }
    .search-widget form .form-control:focus {
      box-shadow: none;
      border-color: #00aeef; }
  .search-widget form button {
    position: absolute;
    width: auto;
    height: 46px;
    top: 0;
    border: none;
    background-color: transparent;
    right: 20px;
    line-height: 46px;
    cursor: pointer;
    font-size: 16px;
    color: #707070; }

.search-widget-area form {
  position: relative;
  z-index: 1; }
  .search-widget-area form input {
    width: 100%;
    height: 45px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    padding: 0 15px;
    color: #ffffff;
    font-size: 12px;
    border-radius: 30px; }
  .search-widget-area form button {
    width: 60px;
    height: 45px;
    background-color: transparent;
    padding: 0 15px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100; }

.widget-title h5 {
  margin-bottom: 30px;
  font-size: 18px;
  text-transform: capitalize;
  border-bottom: 1px solid #ffffff;
  padding: 0 0 5px; }

.subscribe-form input {
  width: 100%;
  height: 45px;
  border-radius: 45px;
  border: none;
  padding: 0 20px;
  font-size: 12px;
  font-style: italic;
  color: #ffffff;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.1); }
.subscribe-form button {
  width: 100%;
  height: 45px;
  border-radius: 45px;
  border: none;
  font-size: 12px;
  padding: 0;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer; }

.footer-area {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  margin-top: 60px; }

.single-footer-widget {
  position: relative;
  z-index: 1;
  margin-bottom: 100px; }
  .single-footer-widget .widget-title {
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 25px;
    display: block; }
  .single-footer-widget p {
    color: #ffffff; }
  .single-footer-widget .footer-contact {
    position: relative;
    z-index: 1; }
    .single-footer-widget .footer-contact p {
      margin-bottom: 5px;
      font-size: 14px; }
      .single-footer-widget .footer-contact p i {
        display: inline-block;
        margin-right: 5px;
        color: #00aeef; }
      .single-footer-widget .footer-contact p:last-child {
        margin-bottom: 0; }
  .single-footer-widget .opening-hours {
    position: relative;
    z-index: 1; }
    .single-footer-widget .opening-hours li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: #ffffff;
      margin-bottom: 17px;
      font-size: 14px; }
      .single-footer-widget .opening-hours li:last-child {
        margin-bottom: 0; }
  .single-footer-widget .quick-links {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .single-footer-widget .quick-links li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%; }
      .single-footer-widget .quick-links li a {
        color: #ffffff;
        margin-bottom: 17px;
        display: block; }
        .single-footer-widget .quick-links li a:focus, .single-footer-widget .quick-links li a:hover {
          color: #00aeef; }
      .single-footer-widget .quick-links li:last-child a {
        margin-bottom: 0; }
  .single-footer-widget .footer-newsletter-form {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    margin-top: 25px; }
    .single-footer-widget .footer-newsletter-form input {
      width: 100%;
      height: 40px;
      background-color: #ffffff;
      border-radius: 2px;
      border: none;
      font-size: 12px;
      padding: 0 15px; }
    .single-footer-widget .footer-newsletter-form button {
      width: auto;
      padding: 0 15px;
      background-color: #00aeef;
      color: #ffffff;
      border: none;
      border-radius: 0 2px 2px 0;
      line-height: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
      .single-footer-widget .footer-newsletter-form button:focus, .single-footer-widget .footer-newsletter-form button:hover {
        background-color: #000;
        color: #ffffff; }
  .single-footer-widget .footer-social-info a {
    display: inline-block;
    color: #ffffff;
    margin-right: 20px; }

.copywrite-content {
  position: relative;
  z-index: 1;
  border-top: 1px solid #576a7d;
  padding: 20px 0;
  text-align: center; }
  .copywrite-content p {
    font-size: 12px;
    color: #b7b7b7;
    margin-bottom: 0; }
    .copywrite-content p span {
      font-weight: 500;
      color: #ffffff; }
    .copywrite-content p a {
      color: #ffffff; }

.dento-contact-area {
  position: relative;
  z-index: 1; }
  .dento-contact-area .google-maps {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 470px; }
    @media only screen and (max-width: 767px) {
      .dento-contact-area .google-maps {
        height: 280px; } }
    .dento-contact-area .google-maps iframe {
      width: 100%;
      height: 100%;
      border: none; }

.contact-information {
  position: relative;
  z-index: 1;
  padding: 30px 50px;
  background-color: #00aeef;
  border-radius: 3px; }
  @media only screen and (max-width: 767px) {
    .contact-information {
      margin-bottom: 100px; } }
  .contact-information h5 {
    color: #ffffff; }
  .contact-information p {
    color: #ffffff; }

.contact-form {
  position: relative;
  z-index: 1; }
  .contact-form .form-control {
    width: 100%;
    height: 46px;
    padding: 0 15px;
    font-size: 13px;
    font-style: italic; }
    .contact-form .form-control:focus {
      box-shadow: none;
      border-color: #00aeef; }
  .contact-form textarea.form-control {
    height: 110px;
    padding: 15px; }

/*# sourceMappingURL=style.css.map */
