{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

	<!-- ***** Breadcrumb Area Start ***** -->
	<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'blog/img/services/4.jpg' %});">
	    <div class="container h-100">
	      <div class="row h-100 align-items-center">
	        <div class="col-12">
	          <h2 class="title">News Update</h2>
	        </div>
	      </div>
	    </div>
	</div>
	<div class="breadcumb--con">
	    <div class="container">
	      <div class="row">
	        <div class="col-12">
	          <nav aria-label="breadcrumb">
	            <ol class="breadcrumb">
	              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
	              <li class="breadcrumb-item active" aria-current="page">News</li>
	            </ol>
	          </nav>
	        </div>
	      </div>
	    </div>
	</div>
	  <!-- ***** Breadcrumb Area End ***** -->
	<section class="externals">
		{% for post in posts %}
			<div class="container">
				<section class="content-section">
					<div class="media mb-3">
						<div class="media-body">
						    <a class="article-title" href="{% url 'news-detail' post.id %}">{{ post.title }}</a>
						    <div class="article-metadata">
						      <a class="author mr-2" href="{% url 'news' %}">{{ post.author }}</a>
						      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
						    </div>
					  	</div>
					</div>
					<p class="article-content">{{ post.content|truncatewords:"150" }} <a href="{% url 'news-detail' post.id %}" style="color: #00aeef;">read more</a></p>
					<a href="{% url 'news-detail' pk=post.pk %}" class="article-content"><i class="fa fa-comments-o"></i> Comments: {{ post.approved_comments.count }}</a>
				</section>
			</div>
		{% endfor %}
	</section>	
{% endblock content %}