{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
	
	<!-- ***** Breadcrumb Area Start ***** -->
	  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'blog/stat/blog/img/gallery/4.jpg' %});">
	    <div class="container h-100">
	      <div class="row h-100 align-items-center">
	        <div class="col-12">
	          <h2 class="title">Password Reset Done</h2>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="breadcumb--con">
	    <div class="container">
	      <div class="row">
	        <div class="col-12">
	          <nav aria-label="breadcrumb">
	            <ol class="breadcrumb">
	              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
	              <li class="breadcrumb-item active" aria-current="page">Password Reset Done</li>
	            </ol>
	          </nav>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- ***** Breadcrumb Area End ***** -->
	  <section class="externals">
	  	<div class="container">
			<div class="alert alert-info">
				An email has been sent with instructions to reset your password!
			</div>
		</div>
	  </section>
	
{%endblock content%}