{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

	<!-- ***** Breadcrumb Area Start ***** -->
	<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'blog/img/services/4.jpg' %});">
	    <div class="container h-100">
	      <div class="row h-100 align-items-center">
	        <div class="col-12">
	          <h2 class="title">Profile Page</h2>
	        </div>
	      </div>
	    </div>
	</div>
	<div class="breadcumb--con">
	    <div class="container">
	      <div class="row">
	        <div class="col-12">
	          <nav aria-label="breadcrumb">
	            <ol class="breadcrumb">
	              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
	              <li class="breadcrumb-item active" aria-current="page">Profile</li>
	            </ol>
	          </nav>
	        </div>
	      </div>
	    </div>
	</div>
	  <!-- ***** Breadcrumb Area End ***** -->
	<section class="externals">
		<div class="container">
			<div class="alert-section">
	  			{% if messages %}
			      	{% for message in messages %}
			      		<div class="alert alert-{{ message.tags }}">
			      			{{ message }}
			      		</div>
		      		{% endfor %}
		      	{% endif %}
	  		</div>
			<div class="content-section">
			    <div class="media">
					<img  class="rounded-circle article-img" src="{{ user.profile.image.url }}">
					<div class="media-body">
				    	<h2 class="account-heading">{{ user.username }}</h2>
	      				<p class="email text-secondary">{{ user.email }}</p>
				  	</div>
				</div>
			  	<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset class="form-group">
						<legend class="profile border-bottom mb-4 mt-2">Profile Info</legend>
						{{ u_form|crispy }}
						{{ p_form|crispy }}
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit">Update</button>
					</div>
				</form>
			</div>
		</div>
	</section>
{%endblock content%}